
<div class="container">
    <div class="forms">
        <div class="productAdd">
            <h2>Agregar Producto</h2>
            <form id="addProductsForm" class="productsForm">
                <label for="title">Nombre del Producto</label>
                <input id="title" type="text" name="title">
                <label for="description">Descripcion del Producto</label>
                <input id="description" type="text" name="description">
                <label for="code">Codigo</label>
                <input id="code" type="text" name="code">
                <label for="price">Precio</label>
                <input id="price" type="text" name="price">
                <label for="stock">Stock</label>
                <input id="stock" type="text" name="stock">
                <label for="category">Categoria</label>
                <input id="category" type="text" name="category">
                <button type="submit">Agregar Producto</button>
            </form>
        </div>
        <div class="productDelete">
            <h2>Eliminar Producto</h2>
            <form id="deleteProductsForm" class="productsForm">
                <label for="idToDelete">ID a Eliminar</label>
                <input id="idToDelete" type="text" name="id">
                <button type="submit">Eliminar producto</button>
            </form>
        </div>
    </div>
    <div id="productList"></div>
</div>


<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>